@CHARSET "UTF-8";

/*
	$1  -  Index
	$2  -  Registration
	$3  -  Login
	$4  -  News
*/

/* $1  -  Index --------------------------------------------------------------*/
body {
	background-color:#000000;
	color:#888888;
}

a {
	color:#888888
}

img.background_image {
	bottom:0px;
	float:left;
	position:fixed;
	z-index:-1;
}

#ctn_index
{
	margin:0px auto;
	width:1010px;
}

#ctn_navigation ul {
	margin:10px 10px 10px 125px;
}

#ctn_navigation ul li {
	display:inline;
	margin-right:20px;
}

#ctn_navigation ul li.core_navigation_node_inpath a {
	text-decoration:underline;
}

.rakuun_box {
	background:#000000;
	border:1px solid #163250;
	margin-bottom:5px;
	padding:3px;
	width:429px;
}

body.index_main .rakuun_box {
	width:268px;
	margin-right:161px;
}

.rakuun_box .body {
	background:#07101A;
	padding:3px;
}

.rakuun_box .head h2 {
	color:#EEEEEE;
	font-weight:bold;
	margin-bottom:4px;
}

.rakuun_box_note .head h2 {
	color:#FF0000;
}

#ctn_content {
	width:1005px;
	margin:0px auto;
}

#ctn_content .rakuun_box {
	float:right;
}

.rakuun_box_register .core_gui_submitbutton {
	color:#d1a362;
}

input {
	background-color:#000000;
	border:1px solid #163250;
	color:#888888;
}

/* $2  -  Registration -------------------------------------------------------*/

/* $3  -  Login --------------------------------------------------------------*/

/* $4  -  News ---------------------------------------------------------------*/
.rakuun_box_news
{
	float:right;
}

.pageview_pages
{
	float:right;
}

#ctn_content .rakuun_news_item label
{
	float:none;
}