@CHARSET "UTF-8";

/*
	$1  -  Common
	$2  -  Head
	$2a -  Head / Navigation
	$2b -  Head / Ressources
	$3  -  Production
	$4  -  Alliances
	$5  -  Metas
	$6  -  Messages
	$7  -  Overview
	$8  -  Techtree
	$9  -  WarSim
	$10 -  Map
	$11 -  Boards
	$12 -  Rules
*/

/* $1  -  Common -------------------------------------------------------------*/
#ctn_ingame
{
	margin:0px auto;
	width:1020px;
}

#ctn_ingame .rakuun_requirements_met,
#ctn_ingame .rakuun_requirements_met a
{
	color:#009f00;
}

#ctn_ingame .rakuun_requirements_failed,
#ctn_ingame .rakuun_requirements_failed a
{
	color:#ff0000;
}

.rakuun_gui_infopanel
{
	background:transparent url('../images/info.png') no-repeat 2px 1px;
	padding-left:16px;
}

.core_gui_table_sortable th.header, .core_gui_table_sortable th.headerSortUp, .core_gui_table_sortable th.headerSortDown
{
	padding-left:15px;
}

.core_gui_table_sortable th.header
{
	background:transparent url('../images/sort.gif') no-repeat 1px 1px;
}

.core_gui_table_sortable th.headerSortUp
{
	background:transparent url('../images/sort_up.gif') no-repeat 1px 1px;
}

.core_gui_table_sortable th.headerSortDown
{
	background:transparent url('../images/sort_down.gif') no-repeat 1px 1px;
}

.user_online
{
	background-color:green;
	color:green;
}

.user_offline
{
	background-color:red;
	color:red;
}

#ctn_content .rakuun_btn_move_up
{
	background:transparent url('../images/up.gif') no-repeat 3px 2px;
	border:0px none;
	height:12px;
	margin-bottom:0px;
	margin-left:0px;
	width:16px;
}

#ctn_content .rakuun_btn_move_down
{
	background:transparent url('../images/down.gif') no-repeat 3px 2px;
	border:0px none;
	height:14px;
	margin-bottom:0px;
	margin-left:0px;
	width:16px;
}

#ctn_content .rakuun_btn_cancel
{
	background:transparent url('../images/cancel.gif') no-repeat 1px 1px;
	border:0px none;
	height:14px;
	margin-bottom:0px;
	margin-left:0px;
	width:16px;
}


/* $2  -  Head ---------------------------------------------------------------*/
#ctn_head
{
	border:1px solid #cccccc;
}

/* $2a -  Head / Navigation --------------------------------------------------*/
#ctn_head #ctn_navigation
{
	float:left;
}

#ctn_head #ctn_navigation li {
	float:left;
	margin-right:20px;
}

.core_navigation_node_inpath a {
	text-decoration:underline;
}

/* $2b -  Head / Ressources --------------------------------------------------*/
#ctn_head #ctn_ressources
{
	float:right;
}

#ctn_head #ctn_ressources .rakuun_ressource
{
	color:#000000;
	font-weight:normal;
}

/* $3  -  Production ---------------------------------------------------------*/
#ctn_content .production_item_box
{
	float:none;
	width:590px;
	margin:0px auto;
	margin-bottom:10px;
}

.production_item_header
{
	float:left;
}

.production_item_actions
{
	float:right;
}

.rakuun_production_item_description_toggle
{
	display:block;
}

.module_build form,
.module_research form,
.module_produce form
{
	display:inline;
}

.module_build form input,
.module_research form input,
.module_produce form input
{
	float:none;
	margin-left:0px;
}

.module_build .rakuun_ressource,
.module_research .rakuun_ressource,
.module_produce .rakuun_ressource
{
	font-weight:bold;
	color:#009f00;
	margin-right:6px;
}

.module_build h2,
.module_research h2,
.module_produce h2
{
	display:inline;
}

.module_build .core_gui_submitbutton,
.module_research .core_gui_submitbutton,
.module_produce .core_gui_submitbutton,
.module_workers .core_gui_submitbutton
{
	margin-left:0px;
}


/* $4  -  Alliances ----------------------------------------------------------*/
.alliance_privilegelist .core_gui_checkbox,
.alliance_privilegelist label,
.alliance_userlist .core_gui_checkbox,
.alliance_userlist label
{
	float:none;
}

/* TODO this needs some work... */
ul.diplomacy-offer
{
	margin-bottom:1em;
}

ul.diplomacy-offer li
{
	margin-bottom:0.5em;
}

dl dt
{
	float: left;
}

dd
{
	margin-left: 10em;
}

table.boardview td {
	padding-right:6px;
}

table.boardview td.posting_count {
	text-align:right;
}

.module_alliance #ctn_content .core_navigation {
	border:1px solid #666666;
	margin-bottom:8px;
}

.module_alliance #ctn_content .core_navigation li {
	border-right:1px solid #666666;
	display:inline;
	margin-right:4px;
}

#ctn_alliance_profile {
	float:left;
}

#ctn_alliance_shoutbox {
	float:right;
}

/* $5  -  Metas --------------------------------------------------------------*/
.module_meta #ctn_content .core_navigation {
	border:1px solid #666666;
	margin-bottom:8px;
}

.module_meta #ctn_content .core_navigation li {
	border-right:1px solid #666666;
	display:inline;
	margin-right:4px;
}

/* $6  -  Messages -----------------------------------------------------------*/
.rakuun_messages_categories
{
	margin-bottom:4px;
}

.rakuun_messages_categories li
{
	display:inline;
}

.rakuun_messages_send textarea
{
	height:150px;
	width:400px;
}

.rakuun_messages_send .core_gui_textbox,
.rakuun_messages_send .core_gui_textarea
{
	width:380px;
}

.module_messages .core_gui_pageview
{
	margin-top:4px;
}

#ctn_content .rakuun_box_message_envelope {
	float:none;
	margin:0px auto;
	margin-bottom:4px;
	width:500px;
}
	
.rakuun_box_message_envelope .content {
	cursor:pointer;
}

#ctn_content .rakuun_box_message
{
	float:none;
	margin:0px auto;
	width:500px;
}

.rakuun_message_head
{
	border-bottom:1px solid #78787D;
	padding:4px;
}

.rakuun_message_head .sender
{
	float:left;
}

.rakuun_message_head .date
{
	float:right;
}

.rakuun_message_content
{
	padding:4px;
}

img.rakuun_fightreport_marker
{
	float:right;
}

/* $7  -  Overview -----------------------------------------------------------*/
#ctn_cityitems
{
	float:left;
	width:250px;
}

#ctn_info
{
	float:left;
	width:275px;
}

#ctn_cityitems .rakuun_box
{
	float:none;
}

.shout_text
{
	overflow:hidden;
	word-wrap:break-word;
}

.shout_header {
	font-weight:bold;
	position:relative;
	width:255px;
	word-wrap:break-word;
}

.shout_text,
.module_overview .core_gui_textarea
{
	width:268px;
}

.module_overview .ctn_shoutbox .core_gui_submitbutton
{
	margin-left:68px;
}

#main-overview_content-sitterbox textarea
{
	width:238px;
}

.module_overview .rakuun_sitter_switchbutton {
	margin-left:0px;
}

.module_overview .rakuun_sitter_deletebutton {
	margin-left:110px;
}

#main-overview_content-sitterswitch {
	width:255px;
}

/* $8  -  Techtree -----------------------------------------------------------*/
.module_techtree h1
{
	font-size:14px;
	font-weight:bold;
}

.module_techtree h2
{
	font-weight:bold;
}

#ctn_techtree_rows .rakuun_box
{
	float:none;
	margin:0px auto;
	width:330px;
}

/* $9  -  WarSim -------------------------------------------------------------*/
.warsim_panels_attacker
{
	float:left;
}

.warsim_panels_defender
{
	float:left;
	margin-left:10px;
}

#warsim_panels h1
{
	font-weight:bold;
	font-size:14px;
	margin-bottom:4px;
}

#warsim_panels label
{
	border-bottom:1px solid #222222;
	padding-bottom:3px;
	width:150px;
}

#warsim_panels .core_gui_submitbutton
{
	float:right;
	margin:0px;
}

#warsim_panels .core_gui_digitbox
{
	width:50px;
}

#warsim_panels_buildings .warsim_panels_defender
{
	margin-left:214px;
}

#warsim_panels_units h1
{
	float:left;
}

/* $10 -  Map ----------------------------------------------------------------*/
.rakuun_map_legend_description
{
	margin-left:15px;
}

.scroll_item, .scrolling_item
{
	display:block;
	position:absolute;
}

.rakuun_city
{
	background-color:#8B8B8B;
	position:absolute;
}

.rakuun_city_own
{
	background-color:#FFFFFF;
}

.rakuun_city_friendly
{
	background-color:#FFBF00;
}

.rakuun_city_allied
{
	background-color:#008000;
}

.rakuun_city_hostile
{
	background-color:#E00000;
}

.rakuun_city_inactive
{
	background-color:#8B4513;
}

.rakuun_map_target_priorities
{
	float:left;
}

.rakuun_map_target_priorities li
{
	display:inline;
}

.rakuun_map_target_panel .core_gui_label
{
	width:150px;
}

.rakuun_map_target_panel .core_gui_submitbutton
{
	margin-left:150px;
}

.rakuun_map_target_panel .core_gui_digitbox
{
	width:50px;
}

#rakuun_map_indicator
{
	background:transparent url('../images/map_indicator.gif') no-repeat left top;
	height:15px;
	width:15px;
}

/* $11 -  Boards -------------------------------------------------------------*/
.rakuun_board_name
{
	font-weight:bold;
	text-align:center;
}

.rakuun_board_postinfo
{
	font-weight:bold;
}

.ctn_board_content .core_gui_submitbutton
{
	margin-left:0px;
}

/* $12 -  Rules --------------------------------------------------------------*/
.module_rules #ctn_content ul {
	list-style:disc outside none;
	padding-left:15px;
}

.module_rules #ctn_content ul li {
	padding:2px 0px;
}