@CHARSET "UTF-8";

/*
	IMPORTANT NOTE:
	In skin files, all css selectors must be "prefixed" with the skin selector,
	e.g.: .skin_original
*/

/*
	$1  -  Common Elements
	$2  -  Main Containers
	$3  -  Boxes
	$4  -  Navigation
	$5  -  Messages
	$6  -  Overview
	$7  -  Techtree
	$8  -  Summary
	$9  -  Ressources
	$10 -  Statistics
	$11 -  Production
	$12 -  Info
	$13 -  Profile
	$14 -  Highscores
	$15 -  Alliances
*/

/* $1  -  Common Elements ----------------------------------------------------*/
body.skin_tech
{
	background:#000000 url('../images/background.png') repeat-x left top;
	color:#FFFFFF;
}

.skin_tech a
{
	color:#FFFFFF;
}

.skin_tech a:hover
{
	color:#4E82C2;
}

.skin_tech .rakuun_box .head {
	position:relative;
}

.skin_tech .rakuun_box .head h2 span {
	background:url('../images/h_text_gradient.png') repeat-x;
	position:absolute;
	display:block;
	width:100%;
	height:20px;
	bottom:0px;
}

* html .skin_tech .rakuun_box .head h2 span {
	background:none;
}

.skin_tech hr {
	color:#78787D;
}

.skin_tech input,
.skin_tech textarea,
.skin_tech select {
	color:#FFFFFF;
	background-color:#363840;
	border:1px solid #848387;
}

.skin_tech input.core_gui_submitbutton {
	background:transparent url('../images/button_background.gif') no-repeat left top;
	border:0px none;
	height:23px;
	padding:0px 3px 5px 3px;
}


.skin_tech .core_gui_submitbutton_wrapper {
	position:relative;
}

.skin_tech .core_gui_submitbutton_wrapper div {
	background:transparent url('../images/button_background_right.gif') no-repeat right top;
	height:23px;
	position:absolute;
	right:0px;
	top:-4px;
	width:4px;
}

.skin_tech .core_gui_hoverinfo {
	background-color:#363840;
	border:1px solid #78787D;
}

.skin_tech .rakuun_box table th.align_left,
.skin_tech .rakuun_box table td.align_left {
	text-align:left;
}

.skin_tech .rakuun_box table th.align_right,
.skin_tech .rakuun_box table td.align_right {
	text-align:right;
}

.skin_tech .rakuun_box table {
	width:100%;
}

.skin_tech .rakuun_box table th {
	font-weight:bold;
}

/* $2  -  Main Containers ----------------------------------------------------*/
.skin_tech #ctn_main {
	background:transparent url('../images/background_starfield.png') no-repeat center top;
}

.skin_tech #ctn_ingame
{
	width:996px;
}

.skin_tech #ctn_content
{
	background:transparent url('../images/background_content.gif') repeat-y left top;
	min-height:450px;
	padding:6px 10px;
}

.skin_tech #ctn_head
{
	background:transparent url('../images/background_menu.png') no-repeat left top;
	border:0px none;
	height:74px;
	position:relative;
}

.skin_tech #ctn_info
{
	margin:0px 5px;
	width:414px;
}

.skin_tech #ctn_info .rakuun_box
{
	float:none;
}

.skin_tech #ctn_footer {
	background:transparent url('../images/background_footer.gif') no-repeat left top;
	height:1px;
}

/* $3  -  Boxes --------------------------------------------------------------*/
.skin_tech .rakuun_box {
	background:#363840 url('../images/rakuun_box_left.gif') repeat-y left top;
	color:#ffffff;
	float:left;
	margin-bottom:5px;
	padding:0px 0px 0px 14px;
	position:relative;
}

.skin_tech .rakuun_box .head {
	background:transparent url('../images/rakuun_box_top.gif') repeat-x left top;
	padding-top:19px;
}

.skin_tech .rakuun_box .content {
	background:transparent url('../images/rakuun_box_bottom.gif') repeat-x left bottom;
	padding:3px;
	padding-bottom:17px;
}

.skin_tech .rakuun_box .content_inner {
	padding-bottom:3px;
}

.skin_tech .rakuun_box .head_inner {
	color:#4e82c2;
	font-size:18px;
	padding:3px;
	padding-top:0px;
}

.skin_tech .rakuun_box_collapsible .head_inner {
	background:transparent url('../images/collapse_tech.gif') no-repeat 3px 1px;
	cursor:pointer;
	padding-left:19px;
}

.skin_tech .collapsed .head_inner {
	background:transparent url('../images/collapse_collapsed_tech.gif') no-repeat 3px 1px;
}

.skin_tech .rakuun_box .body {
	background:transparent url('../images/rakuun_box_right.gif') repeat-y right top;
	padding-right:11px;
}

.skin_tech .rakuun_box .border,
.skin_tech .rakuun_box .corner {
	position:absolute;
}

.skin_tech .rakuun_box .topleft {
	background:transparent url('../images/rakuun_box_topleft.gif') no-repeat left top;
	height:18px;
	top:0px;
	left:0px;
	width:18px;
}

.skin_tech .rakuun_box .topright {
	background:transparent url('../images/rakuun_box_topright.gif') no-repeat left top;
	height:18px;
	top:0px;
	right:0px;
	width:18px;
}

.skin_tech .rakuun_box .bottomleft {
	background:transparent url('../images/rakuun_box_bottomleft.gif') no-repeat left top;
	height:20px;
	bottom:0px;
	left:0px;
	width:14px;
}

.skin_tech .rakuun_box .bottomright {
	background:transparent url('../images/rakuun_box_bottomright.gif') no-repeat left top;
	height:20px;
	bottom:0px;
	right:0px;
	width:14px;
}

.skin_tech .rakuun_box_note .head {
	background-color:#FF0000;
}


.skin_tech .rakuun_box .border_decorator {
	position:absolute;
}

.skin_tech .rakuun_box .decorator1 {
	background:#363840 url('../images/rakuun_box_left1.gif') repeat-y left top;
	height:50%;
	left:0px;
	top:0px;
	width:11px;
}

.skin_tech .rakuun_box .decorator2 {
	background:#363840 url('../images/rakuun_box_gradient_left.gif') no-repeat left center;
	height:20px;
	left:0px;
	margin-top:-10px;
	top:50%;
	width:11px;
}

.skin_tech .rakuun_box .decorator3 {
	background:#363840 url('../images/rakuun_box_right1.gif') repeat-y left top;
	height:50%;
	top:0px;
	right:0px;
	width:11px;
}

.skin_tech .rakuun_box .decorator4 {
	background:#363840 url('../images/rakuun_box_gradient_right.gif') no-repeat left center;
	height:20px;
	margin-top:-10px;
	right:0px;
	top:50%;
	width:11px;
}

.skin_tech .module_build .ui-sortable .head,
.skin_tech .module_research .ui-sortable .head,
.skin_tech .module_produce .ui-sortable .head {
	cursor:move;
}

/* $4  -  Navigation ---------------------------------------------------------*/
.skin_tech #ctn_head #ctn_navigation {
	padding-left:7px;
}

.skin_tech #ctn_head #ctn_navigation li {
	background:transparent url('../images/navigation_separator.gif') no-repeat right top;
	margin:0px;
	padding-right:2px;
}

.skin_tech #ctn_head #ctn_navigation ul ul li {
	background:none;
}

.skin_tech #ctn_navigation ul ul {
	background:transparent url('../images/navigation_sub_background.gif') no-repeat right top;
	display:none;
	height:22px;
	left:0px;
	position:absolute;
	bottom:3px;
	width:823px;
}

.skin_tech #ctn_navigation ul li.core_navigation_node_inpath ul  {
	display:block;
}

.skin_tech #ctn_head #ctn_navigation li a {
	color:#FFFFFF;
	display:block;
	font-size:18px;
	line-height:46px;
	padding:0px 10px;
	position:relative;
	text-decoration:none;
}

.skin_tech #ctn_head #ctn_navigation ul ul li a {
	color:#FFFFFF;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:20px;
	padding:0px 5px;
	position:relative;
	text-decoration:none;
}

.skin_tech #ctn_head #ctn_navigation li a span {
	background:url('../images/navigation_text_gradient.png') repeat-x;
	position:absolute;
	display:block;
	width:100%;
	height:46px;
	left:0px;
	top:0px;
}

.skin_tech #ctn_head #ctn_navigation ul ul li a span {
	display:none;
}

* html .skin_tech #ctn_head #ctn_navigation li a span {
	background:none;
}

.skin_tech #ctn_head #ctn_navigation li.core_navigation_node_first a {
	padding-left:3px;
}

.skin_tech #ctn_head #ctn_navigation ul ul li.core_navigation_node_first a,
.skin_tech #ctn_head #ctn_navigation ul ul li.core_navigation_node_single a {
	padding-left:11px;
}

.skin_tech #ctn_head #ctn_navigation li a:hover,
.skin_tech #ctn_head #ctn_navigation li.core_navigation_node_inpath a {
	background:transparent url('../images/navigation_hover_background.gif') repeat-x left top;
	zoom:1; /* Fix for IE 7 */
}

.skin_tech #ctn_head #ctn_navigation ul ul li.core_navigation_node a {
	background:none;
}

.skin_tech #ctn_head #ctn_ressources {
	padding:7px 10px 0px 0px;
}

.skin_tech #ctn_head #ctn_ressources .rakuun_ressource label {
	color:#a09898;
	display:block;
	float:left;
	text-align:right;
	width:60px;
}

.skin_tech #ctn_head #ctn_ressources .rakuun_ressource span {
	color:#FFFFFF;
	display:block;
	float:left;
	text-align:right;
	width:60px;
}

.skin_tech #ctn_navigation ul.core_navigation_level1 li.core_navigation_node_active {
	text-decoration:underline;
}

/* $5  -  Messages -----------------------------------------------------------*/
.skin_tech .rakuun_message_unread
{
	background-color:#363840;
}

.skin_tech .rakuun_message_envelope
{
	margin:0px auto 4px auto;
}

.skin_tech #ctn_messages_actions
{
	text-align:center;
}

/* $6  -  Overview -----------------------------------------------------------*/
.skin_tech .shout_header a.answerlink {
	background:transparent url('../images/shoutbox_reply_icon.gif') no-repeat left top;
	display:block;
	float:right;
	font-size:0px;
	height:14px;
	width:10px;
}

.skin_tech .shout_announcement {
	color:#a15c5c;
}

.skin_tech .rakuun_box_outgoingarmies,
.skin_tech .rakuun_box_incommingarmies {
	width:412px;
}

.skin_tech .rakuun_box_outgoingarmies .core_gui_submitbutton_wrapper div {
	background:none;
}

.skin_tech .rakuun_box_outgoingarmies .core_gui_submitbutton {
	float:right;
}

.skin_tech .rakuun_tutor {
	float:none;
}

.skin_tech #ctn_tutor_controls {
	float:right;
}

.skin_tech #ctn_tutor_controls .core_gui_submitbutton {
	margin-left:0px;
}

.skin_tech #ctn_ad_buttons {
	text-align:center;
}

.skin_tech #ctn_ad_buttons .gnews_link img {
	margin:5px 0px;
}

.skin_tech .fb_iframe_widget {
	float:left;
	margin-left:50px;
}

.skin_tech .twitter-share-button {
	float:left;
}

/* $7  -  Techtree -----------------------------------------------------------*/
.skin_tech #ctn_techtree_rows .rakuun_box {
	float:left;
	margin:0px 2px;
	width:307px;
}

/* $8  -  Summary ------------------------------------------------------------*/
.skin_tech .module_summary .rakuun_box {
	margin-bottom:5px;
}

.skin_tech .module_summary .rakuun_box th,
.skin_tech .module_summary .rakuun_box td {
	text-align:right;
}

.skin_tech #ctn_summary_mixedstats .rakuun_box {
	margin-left:2px;
	margin-right:2px;
}

.skin_tech #ctn_summary_mixedstats .rakuun_box_summary_fights,
.skin_tech #ctn_summary_mixedstats .rakuun_box_summary_ressources {
	width:200px;
}

.skin_tech #ctn_summary_mixedstats .rakuun_box_summary_fights h3,
.skin_tech #ctn_summary_mixedstats .rakuun_box_summary_ressources h3 {
	font-weight:bold;
}

.skin_tech #ctn_summary_mixedstats .rakuun_box_summary_fights table,
.skin_tech #ctn_summary_mixedstats .rakuun_box_summary_ressources table {
	margin-bottom:5px;
}

.test
{
	background-color:green;
}

.skin_tech #ctn_summary_unitstats .rakuun_box,
.skin_tech #ctn_summary_buildingstats .rakuun_box {
	margin-left:2px;
	margin-right:2px;
	width:470px;
}

.skin_tech #ctn_summary_pointlists .rakuun_box {
	margin-left:2px;
	margin-right:2px;
	width:307px;
}

/* $9  -  Ressources ---------------------------------------------------------*/
.skin_tech .module_ressources .rakuun_box th,
.skin_tech .module_ressources .rakuun_box td {
	text-align:right;
}

.skin_tech #ctn_ressource_stocks .rakuun_box {
	margin-left:2px;
	margin-right:2px;
	width:470px;
}

.skin_tech #ctn_ressource_stocks table.rakuun_fullstocks_table th,
.skin_tech #ctn_ressource_stocks table.rakuun_fullstocks_table td {
	text-align:center;
}

/* $10 -  Statistics ---------------------------------------------------------*/
.skin_tech .module_statistics .rakuun_box th,
.skin_tech .module_statistics .rakuun_box td {
	text-align:right;
}

.skin_tech #ctn_statistics_leftcol {
	float:left;
}

.skin_tech #ctn_statistics .rakuun_box {
	margin-left:2px;
	margin-right:2px;
	width:470px;
}

/* $11 -  Production ---------------------------------------------------------*/
.skin_tech .rakuun_wip_panel {
	float:none;
	margin:0px auto;
	width:440px;
}

.skin_tech .module_overview .rakuun_wip_panel {
	float:left;
	margin:0px 5px 5px 0px;
	width:auto;
}

.skin_tech .rakuun_wip_panel .controls {
	float:right;
}

.skin_tech .rakuun_wip_panel .controls .rakuun_btn_pause {
	background:none;
	height:auto;
	margin:0px;
	padding:0px;
}

.skin_tech .rakuun_wip_panel .controls .core_gui_submitbutton_wrapper div {
	background:none;
}

/* $12 -  Info ---------------------------------------------------------------*/
.skin_tech .module_info .rakuun_production_info_box {
	float:none;
	margin:0px auto;
	width:500px;
}

.skin_tech .module_info .rakuun_production_info_box h3 {
	font-weight:bold;
}

.skin_tech .module_info .rakuun_production_info_box table th,
.skin_tech .module_info .rakuun_production_info_box table td {
	text-align:right;
}

/* $13 -  Profile ------------------------------------------------------------*/
.skin_tech .module_showprofile .rakuun_user_profile_box {
	float:none;
	margin:0px auto;
	width:414px;
}

.skin_tech .module_profile .rakuun_box_delete {
	width:470px;
}

/* $14 -  Highscores ---------------------------------------------------------*/
.skin_tech .module_highscores .rakuun_userhighscore,
.skin_tech .module_highscores .rakuun_alliancehighscore {
	margin:0px 2px;
	margin-bottom:5px;
	width:470px;
}

.skin_tech .module_highscores .rakuun_questbox {
	float:none;
	margin:0px auto;
	width:550px;
}

/* $15 -  Alliances ----------------------------------------------------------*/
.skin_tech .module_applications .rakuun_box_applications {
	margin-left:2px;
	margin-right:2px;
	width:350px;
}

.skin_tech .module_applications .rakuun_box_applicationshistory {
	margin-left:2px;
	margin-right:2px;
	width:590px;
}

.skin_tech .module_diplomacy .left_col {
	margin-left:50px;
}

.skin_tech .module_diplomacy .right_col {
	float:left;
	width:400px;
}

.skin_tech .module_diplomacy .right_col .rakuun_box {
	float:none;
}

.skin_tech .module_allianceview #ctn_alliance_description .rakuun_box {
	float:none;
}

.skin_tech .module_allianceview #ctn_alliance_description {
	float:left;
	margin-left:277px;
	margin-right:5px;
	width:428px;
}

.skin_tech .module_alliance #ctn_rakuun_alliance_leftcol .rakuun_box {
	float:none;
}

.skin_tech .module_alliance #ctn_rakuun_alliance_leftcol {
	float:left;
	margin-left:80px;
	margin-right:5px;
	width:428px;
}

.skin_tech .module_edit .alliance_edit_leftcol,
.skin_tech .module_edit .alliance_edit_rightcol {
	float:left;
	margin:0px 2px;
	width:484px;
}

.skin_tech .module_edit .alliance_edit_leftcol .rakuun_box,
.skin_tech .module_edit .alliance_edit_rightcol .rakuun_box {
	float:none;
}

.skin_tech .module_edit .alliance_edit_rightcol .rakuun_box_alliance_rankselect {
	float:left;
	width:170px;
}

.skin_tech .module_edit .alliance_edit_rightcol .rakuun_box_alliance_rankedit {
	float:left;
	width:285px;
}